/* .css styles for urban-octo-telegram project. Will apply to Horiseon SEO website home page.*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*deleted selector .header h2 .seo as it could be covered by .header h1. I have added the appropriate color to this class*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

.header nav { /*deleted .header nav ul selector and addes list style type to .header nav*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero img{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
   /* background-image: url("../images/digital-marketing-meeting.jpg"); removed background image from css and added to html to add accessability attributes*/
    background-size: cover;
    background-position: center;
    ;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 10px 20px 0px 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px; /*adjusted height to match the centent section to the left*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; /*updated color here to match SEO section and pass contrast ADA test*/
}

/*updated margins for benefit lead/brand/cost selectors to adjust alignment based on new container height*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-top: 40px;
    margin-bottom: 16px;
    color: #ffffff;
}

.benefit-cost {
    position: relative;
    margin-top: 50px;
    color: #ffffff;
}
 /*deleted .benefit lead/brand/cost h3 selectors and consolidated them into this .benefits h3 selector since all attributes/values were identical.*/
.benefits h3 {
    margin-bottom: 0px;
    text-align: center;
}

 /*deleted .benefit lead/brand/cost IMG selectors and consolidated them into this .benefits IMG selector since all attributes/values were identical.*/
.benefits img {
    display: block;
    margin: 2px auto;
    max-width: 150px;
}

 /*deleted .SEO/ORM/SMM ID's and consolidated them into this .content Article selector since all attributes/values were identical.*/
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

 /*deleted .SEO/ORM/SMM ID's and consolidated them into this .content Article IMG selector since all attributes/values were identical.*/
.content article img {
    max-height: 200px;
}

 /*deleted .SEO/ORM/SMM ID's and consolidated them into this .content Article H2 selector since all attributes/values were identical.*/
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
